services:
  app:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
      target: ${TARGET:-development}
    container_name: mitho-app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - GIN_MODE=${GIN_MODE:-debug}
    restart: unless-stopped